.container {
  width: 200px;
  margin-top: 30px;
  padding: 15px;
  border: 2px solid #7272726b;
  border-radius: 5px;
}

.textContainer {
  display: flex;
  align-items: center;
}

.nameText {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.scoreText {
  composes: nameText;
  font-size: 25px;
}

.title {
  margin: 0;
  padding: 5px;
  background-color: rgb(201, 73, 73);
  color: #fff;
  font-size: 25px;
  text-align: center;
  border-radius: 3px;
}
