.playArea {
  border: 5px solid transparent;
  background-color: #16161852;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #7272726b;
  border-radius: 5px;
}

.container {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.food:not(:last-child) {
  margin-right: 15px;
}

.field {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playButton {
  height: 50px;
  color: white;
  background: #502c7b;
  border: 2px solid #502c7b;
  padding: 10px;

  color: white;
  box-shadow: 4px 4px 0px 0px white;

  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
}

.pauseButton {
  composes: playButton;
  margin-left: 15px;
  background: #077e2e;
  border: 2px solid #077e2e;
}

.gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: 200px;
  display: block;
  text-align: center;
  background-color: rgb(201, 73, 73);
  color: white;
  font-size: 45px;
}

.gameOverButton {
  composes: playButton;
  position: static;
  margin-top: 60px;
  margin-left: 150px;
  background: #077e2e;
  font-size: 35px;
}

.scoreContainer {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 30px;
}
